<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('Edit Locations')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="layout :: nav"></nav>

<div class="container main-site-container">
    <h1>Edit "Locations"</h1>

    <form th:object="${tournament}">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">State</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="location : ${locations}" th:object="${location}" th:class="${location.tournament == null} ? 'table-danger':'table-success'">
                <th scope="row" th:text="${location.idLocation}">0</th>
                <td th:text="*{{name}}">Mark</td>
                <td th:text="*{{description}}">Otto</td>
                <td th:text="*{{state}}">0</td>
                <td class="actions-cell">
                    <a class="btn btn-success btn-sm"
                       th:href="|/tournaments/${location.idLocation}/${tournament.idTournament}/editLocations/add|"
                       role="button"
                       th:hidden="${location.tournament == null} ? false: true"
                    >Subscribe to tournament</a>
                    <a class="btn btn-outline-danger btn-sm"
                       th:href="|/tournaments/${location.idLocation}/${tournament.idTournament}/editLocation/delete|"
                       role="button"
                       th:hidden="${location.tournament == null} ? true: false"
                    >Unsubscribe to tournament</a>
                </td>
            </tr>
            </tbody>
        </table>
        </fieldset>
        <button type="submit" class="btn btn-lg btn-primary">Save</button>
    </form>
</div>

<th:block th:replace="layout :: footer">

</th:block>
</body>
</html>